.header{
    
}

.header ul{
    display: flex;
    list-style: none;
}

.header ul li a, .header ul li a:visited{
    padding: 10px;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
}

.header ul li a:hover{
    font-size: 22px;
}